.cardText {
  visibility: hidden;
  padding: 5px 0;
}

.game .card {
  cursor: pointer;
  text-align: center;
  border: 1px solid #000;
  margin: 5px auto;
  flex-basis: 48%;
  box-sizing: border-box;
}

.game .card.isSuccess {
  background-color: #3cb371;
}

.game .card.isSuccess .cardText {
  visibility: visible;
}

.game .card.activeButton {
  background-color: #0e7caf;
}

.game .card.wrongAnswer {
  background-color: #af0e0e;
}

.game .card.activeButton .cardText,
.card.wrongAnswer .cardText {
  visibility: visible;
}
